.App {
  text-align: center;
}

.file-display {
  display: none;
}

.canvas-containers {
  display: flex;
  margin: 10px;
}

.canvas-box {
  display: flex;
  margin: 10px;
  flex-direction: column;
  min-width: 35vw;
}

body {
  background-color: aliceblue;
}

button {
  background-color: #4d63e2; /* Green */
  border: none;
  border-radius: 10px;
  margin: 2px;
  padding: 10px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.image-button {
  padding: 2px 12px;
}

.palette-containers {
  background-color: rgba(0, 0, 0, 0.056);
  min-width: 10vw;
}

.sprite-container {
  overflow: auto;
}

.sprite-inner-container {
  max-height: 16rem;
  max-width: 100%;
}

#sprite-canvas {
  background-color: rgba(0, 0, 0, 0.111);
  text-align: center;
}

.canvas-sharp-edges {
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
}

#refsprite-canvas {
  background-color: rgba(0, 0, 0, 0.056);
}
